<%- include('../includes/head.ejs') %>
   
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <%if(orders.length<=0){%>
            Nothing here in orders
        <%} else {%>
            <%orders.forEach((order)=>{%>
                #<%=order._id%>
                <%order.items.forEach(product=>{%>
                <li><%=product.title%> (<%=product.quantity%>)</li>
                <%})%>
            <%})%>  
          <%}%>    
          
    </main>
<%- include('../includes/end.ejs') %>